body {
    font-family: sans-serif;
    background-image: linear-gradient(to right,#FF242B,#24F1FF);

}
.dadada {
   background-color:#24FF38 ;
   font-size: 20px;
}
footer {
    background-color: black;
}
.odaa {
    background-color: #2425FF;
}
.dadadada {
    background-color: #2425FF;
}

header a {
    color: #C70900;
}
main a {
    color: #C70900;
}
